<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= current_page.data.title || 'drewh home' %></title>
    <%= stylesheet_link_tag "tailwind" %>
  </head>
  <body class="antialiased bg-gray-900 text-gray-100">
    <%= yield %>
  </body>
</html>
