---
title: Drew Hamlett - Home
---


<div class="container">
  <%= image_tag('me.jpg', width: 200) %>

  <br />
  <br />

  <a href="/images/DrewHamlettresume.pdf">Resume</a> <br />
  <a href="http://resume.github.com/?drewhamlett">Github Resume</a>
  <br />
  <br />
  Fun:

  <ul>
    <!-- <li><a href="/contra">Contra!(Play)</a></li> -->
    <li><a href="https://github.com/drewhjava/brackets-beautify">JS Beautify for Adobe Brackets</a></li>
    <li><a href="https://github.com/drewhjava/netbeans-jsbeautify">JS Beautify(Netbeans)</a></li>
    <li><a href="https://github.com/drewhjava/Jquery-Shiftselect">JQuery Shift select plugin</a></li>
    <li><a href="https://github.com/drewhjava/Play2.tmbundle">Play Framework 2.0 Textmate bundle</a></li>
  </ul>
  Work(Also fun):

  <ul>
    <li><a href="https://vimeo.com/42789766">M.U.S.T. Explained</a> </li>
    <li><a href="https://must.atlanticpkg.com">M.U.S.T. Web application</a> </li>
    <li><a href="images/mustdailyreportresume.png">M.U.S.T. Daily report Example</a></li>
  </ul>
  Projects in the Media :

  <ul>
    <li>
      <a href="http://www.packworld.com/machinery/stretch-wrapping/optimizing-pallet-stretch-wrap-efficiencies">
        http://www.packworld.com/machinery/stretch-wrapping/optimizing-pallet-stretch-wrap-efficiencies
            </a>
    </li>
  </ul>
  <div class="footer">
    <a href="mailto:i@drewh.me">Contact</a>
  </div>
</div>
