---
title: Drew Hamlett - Home
---


<div class="flex justify-center text-lg mt-12">
  <div>
    <%= image_tag('me-1.png', width: 160, class: 'rounded') %>

    <div class="mt-3 font-bold">Fun:</div>


    <ul class="mt-1">
      <!-- <li><a href="/contra">Contra!(Play)</a></li> -->
      <li>
        <a class="text-blue-400 hover:text-blue-300" href="/mpc">MPC Keygroup Creator</a>
      </li>
      <li>
        <a class="text-blue-400 hover:text-blue-300" href="https://beatreviews.io">BeatReviews.io</a>
      </li>
      <li>
        <a class="text-blue-400 hover:text-blue-300" href="https://retroh.io">Retroh.io</a>
      </li>
      <li><a class="text-blue-400 hover:text-blue-300" href="https://github.com/drewhjava/brackets-beautify">JS Beautify for Adobe Brackets</a></li>
      <li><a class="text-blue-400 hover:text-blue-300" href="https://github.com/drewhjava/netbeans-jsbeautify">JS Beautify(Netbeans)</a></li>
      <li><a class="text-blue-400 hover:text-blue-300" href="https://github.com/drewhjava/Jquery-Shiftselect">JQuery Shift select plugin</a></li>
      <li><a class="text-blue-400 hover:text-blue-300" href="https://github.com/drewhjava/Play2.tmbundle">Play Framework 2.0 Textmate bundle</a></li>
    </ul>
    <div class="mt-3 font-bold">Work:</div>


    <ul class="mb-3">
      <li><a class="text-blue-400 hover:text-blue-300" href="https://vimeo.com/42789766">M.U.S.T. Explained</a> </li>
      <li><a class="text-blue-400 hover:text-blue-300" href="https://must.atlanticpkg.com">M.U.S.T. Web application</a> </li>
      <li><a class="text-blue-400 hover:text-blue-300" href="images/mustdailyreportresume.png">M.U.S.T. Daily report Example</a></li>
    </ul>
    <strong>Projects in the Media:</strong>


    <ul>
      <li>
        <a class="text-blue-400 hover:text-blue-300" href="http://www.packworld.com/machinery/stretch-wrapping/optimizing-pallet-stretch-wrap-efficiencies">
          http://www.packworld.com/machinery/stretch-wrapping/optimizing-pallet-stretch-wrap-efficiencies
        </a>
      </li>
    </ul>
    <div class="footer">
      <a class="text-blue-400 hover:text-blue-300" href="mailto:i@drewh.me">Contact</a>
    </div>
  </div>
</div>
